@import "../../index.less";

._gk-input {
  position: relative;

  input {
    border: 1px solid @gray-4;
    border-radius: 4px;
    padding: 0.5em 0.6em;
    min-width: 14em;
    height: 32px;
    box-sizing: border-box;

    &:hover,
    &:active,
    &:focus {
      border-color: @blue-1;
    }
  }

  input::-webkit-input-placeholder {
    /*WebKit browsers*/
    color: @gray-4
  }

  input::-moz-input-placeholder {
    /*Mozilla Firefox*/
    color: @gray-4
  }

  input::-ms-input-placeholder {
    /*Internet Explorer*/
    color: @gray-4
  }

  ._gk-input-disabled {
    cursor: not-allowed;
    background-color: @gray-5;

    &:hover,
    &:active,
    &:focus {
      border-color: @gray-4;
    }
  }

  ._gk-input-has-error {
    color: @red-1;
    border-color: @red-1;

    &:hover,
    &:active,
    &:focus {
      border-color: @red-1;
    }
  }

  ._gk-input-error {
    color: @red-1;
    position: absolute;
    top: 34px;
  }
}