@import '@/index.less';

._gk-log {
  margin-top: -1em;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'PingFangSC-Regular', 'sans-serif', 'Microsoft YaHei';
}

._gk-log-container {
  overflow: auto;

  ._gk-log-row {
    display: flex;
    align-items: baseline;
    position: relative;
    padding: 0.5em 2.5em 0.5em 0.5em;
    border-bottom: 1px solid @gray-4;

    ._gk-log-row-icon {
      width: 1em;
      height: 1em;
      margin-right: 0.5em;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      ._gk-icon svg {
        width: 1em;
        height: 1em;
      }
    }

    ._gk-log-row-repeat {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: @gray-2;
      border-radius: 50%;
      font-size: 0.9em;
      width: 1em;
      height: 1em;
      padding: 0.1em;
      color: @white;
      margin-right: 0.5em;

      i {
        line-height: 1;
      }
    }

    ._gk-log-row-content {
      flex: 1;
      min-height: 1em;

      i {
        font-style: normal;
        white-space: pre-wrap;
      }
    }

    ._gk-log-row-copy {
      position: absolute;
      right: 0.4em;
      top: 0.2em;
      padding: 0.4em;
      cursor: pointer;

      &:hover {
        color: @blue-1;
      }

      ._gk-icon svg {
        width: 1em;
        height: 1em;
      }
    }
  }

  ._gk-log-row._gk-log-row-warn {
    background-color: @yellow-3;

    ._gk-log-row-repeat {
      background-color: @yellow-1;
    }
  }

  ._gk-log-row._gk-log-row-error {
    background-color: @red-3;

    ._gk-log-row-repeat {
      background-color: @red-1;
    }
  }
}