@import '@/index.less';

._gk-storage {
  margin-top: -1em;
  display: flex;
  flex-direction: column;
  height: 100%;

  ._gk-storage-list-wrapper {
    padding: 0.5em 0;
    height: 100%;
    overflow: hidden;
  }

  ._gk-storage-list {
    overflow: auto;
    position: relative;
    height: 100%;

    ._gk-storage-list-header {
      background-color: @gray-5;
      border-top: 1px solid @gray-4;
      position: sticky;
      top: 0;
      z-index: 1;
    }

    ._gk-storage-list-header,
    ._gk-storage-list-item {
      display: flex;
      border-bottom: 1px solid @gray-4;
    }

    ._gk-storage-list-header ._gk-storage-list-header-content,
    ._gk-storage-list-item ._gk-storage-list-item-content {
      flex: 1;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));

      >div {
        word-wrap: break-word;
        border-right: 1px solid @gray-4;
        padding: 0.5em;
      }
    }

    ._gk-storage-list-item-options {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 4em;
      padding: 0.5em;
      text-align: center;

      span {
        cursor: pointer;
      }

      svg {
        width: 1em;
        height: 1em;
      }
    }

    ._gk-modal-container {
      position: sticky;
      height: 100%;
    }
  }
}

._gk-storage-list-item-options-tippy {
  padding: 1em 0.6em;

  span {
    padding: 0.6em;

    svg {
      width: 1.2em;
      height: 1.2em;
    }

    &:hover {
      cursor: pointer;

      svg {
        color: @blue-1;
      }
    }
  }
}

._gk-storage-list-item-copyed {
  svg {
    color: @green-1 !important;
  }
}

#_gk-storage-list-item-options-tippy {
  position: absolute;
  background-color: @white;
  box-shadow: rgb(0 0 0 / 30%) 0px 0px 4px,
    rgb(255 255 255 / 5%) 0px 1px 0px inset;
  border-radius: 4px;

  ._gk-storage-tippy-arrow::before {
    width: 0.5em;
    height: 0.5em;
    background-color: @white;
    box-shadow: 2px 2px 5px #0000000f;
    transform: rotate(-45deg);
    position: absolute;
    right: -0.25em;
    top: calc(50% - 0.25em);
    content: '';
  }

  ._gk-storage-tippy-arrow.right-top::before {
    top: calc(65% - 0.25em);
  }
}