@import '@/styles/index.less';

._gk-form-item {
  margin: 0.5em auto 1.2em;
  @inline-flex();
  @items-center();
  min-width: 16em;

  ._gk-form-item-label {
    width: 8em;
    @inline-block();
    margin-right: 0.25em;
    @text-right();
  }
}

._gk-qkinit-form-compact {
  @flex();

  >div {
    margin: 0;

    &:first-child {
      max-width: 6.5em;
      min-width: 6.5em;
      width: 6.5em;

      >* {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
      }
    }

    &:last-child {
      >* {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}