._gk-switcher {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  color: #fff;
  background-color: orange;
  line-height: 1;
  font-size: (14em / 13px);
  padding: (8em / 13px) (16em / 13px);
  z-index: 10000;
  border-radius: (4em / 13px);
  box-shadow: 0 0 (8em / 13px) rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
