@import '@/styles/index.less';

._gk-switcher {
  @block();
  position: fixed;
  right: 0;
  bottom: 0;
  color: rgba(252, 95, 58, 0.8);
  background-color: @white;
  line-height: 1;
  z-index: 10000;
  border-radius: 50%;
  box-shadow: 0 0 (8em / 13px) rgba(0, 0, 0, 0.4);
  @cursor-pointer();
}

._gk-switcher._gk-switcher-processing {

  &::after {
    @absolute();
    top: -3px;
    left: -3px;
    @w-full();
    @h-full();
    border-width: 3px;
    border-style: solid;
    border-color: inherit;
    border-radius: 50%;
    animation-name: css-processing;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    content: "";
  }
}

@keyframes css-processing {
  from {
    transform: scale(0.6);
    opacity: 0.6;
  }

  to {
    transform: scale(1.4);
    opacity: 0;
  }
}