#__giokit button {
  outline: none;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

._gk-btn {
  padding: 0.55em 1.2em;
  border-radius: 4px;
  font-weight: 400;
  font-size: 1em;
  box-sizing: border-box;
}

._gk-btn-default {
  border: 1px solid #dfe4ee !important;
  background-color: #fff;
  color: #242e59;
  padding: calc(0.55em - 1px) calc(1.2em - 1px);
}

._gk-btn-default:hover {
  color: #1248e9;
  background-color: #f7f8fc;
}

._gk-btn-primary {
  color: #fff;
  background-color: #3867f4;
}

._gk-btn-primary:hover {
  background-color: #1248e9;
}

._gk-btn-default:hover svg {
  fill: #1248e9;
}

._gk-btn-small {
  padding: 0.4em 1em;
}

._gk-btn-default.gk-btn-small {
  padding: calc(0.4em - 1px) calc(1em - 1px);
}
