.gk-btn {
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  font-weight: 400;
  font-size: 0.875rem;
  box-sizing: border-box;
}

.gk-btn-default {
  border: 1px solid #dfe4ee;
  background-color: #fff;
  color: #242e59;
  padding: calc(0.25rem - 1px) calc(0.75rem - 1px);
}

.gk-btn-default:hover {
  color: #1248e9;
  background-color: #f7f8fc;
}

.gk-btn-primary {
  color: #fff;
  background-color: #3867f4;
}

.gk-btn-primary:hover {
  background-color: #1248e9;
}

.gk-btn-default:hover svg {
  fill: #1248e9;
}

.gk-btn-small {
  padding: 0.25rem 0.5rem;
}
