@import '@/styles/index.less';

._gk-tabs {
  @border-b();

  ._gk-tabs-nav {
    @flex();
    @items-center();
    height: 3em;

    ._gk-tabs-tab {
      @relative();
      padding: 0 1.2em;
      line-height: 3em;
      @cursor-pointer();
      @flex-1();
      @text-center();

      &:hover {
        color: @blue-1;
      }

      ._gk-tabs-tab-content {
        @inline-flex();
        @items-center();

        ._gk-icon {
          @mr-1();
        }
      }
    }

    ._gk-tabs-tab._gk-tabs-tab-active {
      color: @blue-1;

      &::after {
        content: '';
        @block();
        height: 2px;
        @w-full();
        @absolute();
        bottom: -1px;
        left: 0;
        background: @blue-1;
      }
    }
  }
}