._gk-empty {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

._gk-empty ._gk-empty-logo {
  max-width: 5em;
}

._gk-empty svg {
  width: 100%;
  height: 100%;
}

._gk-empty ._gk-empty-title {
  max-width: 8em;
  margin-top: 1em;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
  color: #4b5563;
}