._gk-empty {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  max-width: 5rem;
}

._gk-empty svg {
  width: 100%;
  height: 100%;
}

._gk-empty ._gk-empty-title {
  margin-top: 1rem;
  font-size: 0.875rem
    /* 14px */
  ;
  line-height: 1.25rem
    /* 20px */
  ;
  text-align: center;
  color: #4b5563;
}