@import '@/styles/index.less';

._gk-realtime-monitor {
  bottom: 100px;
  margin-right: -1px;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1em 0;
  position: fixed;
  right: 0;
  z-index: 10010;
}

._gk-realtime-monitor-item {
  @cursor-pointer();
  @flex();
  @items-center();
  background: @white;
  border-bottom-left-radius: 2em;
  border-top-left-radius: 2em;
  border: 1px solid @orange;
  box-shadow: 0 0 (8em / 13px) rgba(0, 0, 0, 0.4);
  font-weight: 500;
  margin: 0 0 0.8em 0.5em;
  overflow: hidden;

  ._gk-item-idx {
    @h-full();
    @inline-flex();
    @items-center();
    @justify-center();
    background: @orange;
    color: @white;
    padding: 0.9em;
  }

  ._gk-item-content {
    padding: 0.2em 1em;

    ._gk-item-content-type {
      font-style: italic;
      font-weight: 600;
    }

    ._gk-item-content-preview {
      color: @gray-2;
    }
  }
}