@import '@/styles/index.less';

._gk-select {
  max-width: 15em;
  min-width: 8em;
  @relative();

  ._gk-select-selector {
    @border();
    @rounded();
    @flex();
    @items-center();
    padding: 0.5em 0.5em 0.5em 1em;
    @cursor-pointer();
    height: 32px;
    box-sizing: border-box;

    ._gk-select-selector-value {
      @flex-1();
      text-align: left;
    }

    ._gk-select-selector-arrow {
      @ml-1();

      ._gk-icon svg {
        height: 1em;
        width: 1em;
        transform: rotate(-90deg);
      }
    }
  }

  ._gk-select-dropdown {
    @absolute();
    top: 36px;
    left: 0;
    @w-full();
    box-sizing: border-box;
    background: @white;
    @p-1();
    border: 1px solid @gray-4 !important;
    border-radius: 4px !important;
    box-shadow: 0px 8px 24px rgba(36, 46, 89, 0.1);
    max-height: 12em;
    overflow-y: auto;
    z-index: 10;

    ._gk-select-dropdown-item {
      @truncate();
      @p-1();
      @cursor-pointer();
      @rounded();
      text-align: left;

      &:not(:last-child) {
        @mb-1();
      }

      &:hover {
        background: @gray-5,
      }
    }

    ._gk-select-dropdown-item._gk-selected {
      font-weight: 700;
      background: @blue-3;
    }
  }

}