._gk-icon {
  display: inline-block;
  line-height: 1;
}

._gk-icon svg {
  display: inline-block;
  vertical-align: bottom;
}

._gk-icon._gk-icon-warn {
  color: #f0b109;
}

._gk-icon._gk-icon-error {
  color: #e32133;
}
