@import '@/index.less';

._gk-qkinit {
  height: 100%;
  display: flex;
  flex-direction: column;

  ._gk-qkinit-form {
    text-align: center;
    overflow: auto;

    ._gk-form {
      display: inline-flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 100%;

      ._gk-qkinit-form-step1,
      ._gk-qkinit-form-step2 {
        display: flex;
        flex-direction: column;
        align-items: center;

        ._gk-form-item {
          margin: 1.2em 0;

          ._gk-toggle-value {
            margin-left: 1em;
          }
        }
      }

      ._gk-qkinit-form-step1 {
        ._gk-form-item {
          width: 29em;

          ._gk-input {
            flex: 1;

            input {
              width: 100%;
            }
          }
        }
      }

      ._gk-qkinit-form-step2 {
        ._gk-qkinit-form-step2-switcher {
          margin: 1em 0;
        }

        ._gk-form-item {
          width: 23em;
        }
      }
    }

    ._gk-qkinit-form-step3 {
      text-align: initial;
      padding: 2em;

      ._gk-alert {
        margin: -1em 0 1.5em 0;
      }

      ._gk-qkinit-switcher {
        margin: 1em;
      }

      ._gk-qkinit-hastool._gk-qkinit-header::before {
        top: 0.5em;
      }

      ._gk-qkinit-hastool {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ._gk-btn {
          padding: calc(0.55em - 1px) calc(0.7em - 1px);

          ._gk-icon {
            svg {
              height: 1em;
              width: 1em;
            }
          }
        }

        ._gk-qkinit-code-copyed {
          svg {
            color: @green-1 !important;
          }
        }
      }

      pre,
      pre code {
        max-width: 100%;
        overflow: hidden;
        white-space: pre-wrap;
        word-break: break-word;
      }
    }

    ._gk-qkinit-btns {
      margin-top: 3em;

      ._gk-btn {
        margin: 0 0.5em;
      }
    }

    ._gk-qkinit-btns-step3 {
      margin-bottom: 2em;
      ;
    }
  }
}

._gk-help {
  margin: 0 0.5em;
  cursor: help;
  line-height: 1.3;

  svg {
    height: 1.2em;
    width: 1.2em;
    fill: @gray-2;
  }
}