@import '@/styles/index.less';

._gk-modal-container {
  @absolute();
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @flex();
  @items-center();
  @justify-center();
  z-index: 10;

  ._gk-modal-mask {
    @block();
    @absolute();
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    transition: background 0.3s;
    z-index: 10010;
  }

  ._gk-modal {
    @block();
    min-width: 20em;
    max-width: 40em;
    background: @white;
    z-index: 10011;
    @rounded();
    padding: 1.5em;
    margin: 0 5em;

    ._gk-modal-wrapper {
      @flex();
      align-items: flex-start;

      ._gk-modal-type-icon {
        @mr-2();

        svg {
          width: 1.9em;
          height: 1.9em;
        }
      }
    }

    ._gk-modal-content {
      ._gk-modal-title {
        @flex();
        @items-center();

        span {
          font-size: 1.1em;
          line-height: 1.5;
          font-weight: 600;
          color: rgba(0, 0, 0, 0.88);
          @break-all();
        }
      }

      ._gk-modal-desc {
        margin-top: 0.5em;
        color: @gray-2;
      }
    }

    ._gk-modal-footer {
      @mt-2();
      @text-right();

      ._gk-btn {
        @ml-1();
      }
    }
  }

  ._gk-modal._gk-modal-info {
    ._gk-modal-type-icon svg {
      color: @blue-1;
    }
  }

  ._gk-modal._gk-modal-warning {
    ._gk-modal-type-icon svg {
      color: @yellow-1;
    }
  }

  ._gk-modal._gk-modal-error {
    ._gk-modal-type-icon svg {
      color: @red-1;
    }
  }
}