@import '@/index.less';

// tree
._gk-log-tree {
  display: block;
  overflow: auto;
  position: relative;
}

// tree node
._gk-log-tree-node {
  display: block;
  font-style: italic;
  padding-left: 1em;
  position: relative;
}

._gk-log-tree._gk-is-tree>._gk-log-tree-node:active {
  background-color: #ececec;
}

._gk-log-tree._gk-is-tree>._gk-log-tree-node::before {
  content: "";
  position: absolute;
  top: 0.4em;
  left: 0.2em;
  width: 0;
  height: 0;
  border: transparent solid 0.35em;
  border-left-color: @gray-2;
}

._gk-log-tree._gk-is-tree._gk-log-tree-toggle>._gk-log-tree-node::before {
  top: 0.6em;
  left: 0;
  border-top-color: @gray-2;
  border-left-color: transparent;
}

// tree child
._gk-log-tree-child {
  margin-left: 1em;
}

// load more
._gk-log-tree-loadmore {
  text-decoration: underline;
  padding-left: 1.8em;
  position: relative;
  color: #556af2;
}

._gk-log-tree-loadmore::before {
  content: "››";
  position: absolute;
  top: -0.1em;
  left: 0.7em;
  font-size: 1.2em;
  color: #556af2;
}

._gk-log-tree-loadmore:active {
  background-color: #ececec;
}