@import '@/styles/index.less';

._gk-checkbox {
  @inline-flex();
  @items-center();
  line-height: 1em;
  @cursor-pointer();

  &:hover {
    ._gk-checkbox-wrapper {
      border-color: @blue-1;
    }
  }

  ._gk-checkbox-wrapper {
    @border();
    @mr-1();
    @relative();
    border-radius: 4px;
    line-height: 0;
    overflow: hidden;

    input {
      @absolute();
      inset: 0;
      z-index: 1;
      @w-full();
      @h-full();
      @cursor-pointer();
      opacity: 0;
      margin: 0;
    }

    ._gk-checkbox-inner {
      @relative();
      top: 0;
      left: 0;
      width: 1em;
      height: 1em;
      @block();
    }
  }

  ._gk-checkbox-wrapper._gk-checked,
  ._gk-checkbox-wrapper._gk-indeterminate {
    border-color: @blue-1;
  }

  ._gk-checkbox-wrapper._gk-checked {
    ._gk-checkbox-inner {
      background-color: @blue-1;

      &::after {
        top: 45%;
        left: 16%;
        display: table;
        width: 0.357125em;
        height: 0.57125em;
        @relative();
        display: table;
        border: 2px solid @white;
        border-top: 0;
        border-left: 0;
        transform: rotate(45deg) scale(1) translate(-50%, -50%);
        opacity: 1;
        transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
        content: " ";
      }
    }
  }

  ._gk-checkbox-wrapper._gk-indeterminate {
    ._gk-checkbox-inner {
      background-color: @blue-1;

      &::after {
        top: 50%;
        left: 50%;
        display: table;
        width: 0.57125em;
        height: 0;
        @relative();
        display: table;
        border: 2px solid @white;
        border-top: 0;
        border-left: 0;
        transform: scale(1) translate(-50%, -50%);
        opacity: 1;
        transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
        content: " ";
      }
    }
  }
}