@import '@/styles/index.less';

._gk-nw {
  @h-full();
  @flex();
  @flex-col();

  ._gk-nw-header {
    @flex();
    @justify-between();
    @items-center();

    ._gk-ct-header {
      margin-bottom: 0;
    }

    ._gk-nw-tools {
      @flex();
      @items-center();
      ._gk-x-space-1();

      ._gk-nw-tool {
        @relative();

        ._gk-btn {
          padding: calc(0.55em - 1px) calc(0.7em - 1px);

          ._gk-icon svg {
            width: 1em;
            height: 1em;
          }
        }
      }
    }
  }

  ._gk-nw-list {
    @h-full();
    @overflow-auto();
    padding: 0.1em 0;

    ._gk-nw-gio-empty {
      @h-full();
      @w-full();
      @flex();
      @justify-center();
      @items-center();
      grid-column: span 12 / span 1;
    }

    ._gk-collapse {
      @border();
      box-sizing: border-box;

      ._gk-collapse-item-head-extra {
        @flex-none();
        @flex();
        @justify-around();

        span {
          margin: 0 0.5em;
          @text-center();

          &:first-child {
            width: 3.5em;
          }

          &:nth-child(2) {
            width: 3em;
          }

          &:last-child {
            width: 3.5em;
            @text-right();
          }
        }
      }

      &:not(:last-child) {
        margin-bottom: -1px;
      }
    }

    ._gk-nw-list-item-content {
      padding: 0.5em 0 1em 0;
      overflow: hidden;
      @break-all();

      ._gk-nw-content-values-wrapper {
        @pl-2();
      }

      ._gk-nw-content-values-payload {
        @pl-2();
        @break-all();
      }

      ._gk-nw-content-values {
        line-height: 1.5em;
        @mb-1();
        padding-right: 0;

        span {
          @break-all();

          &:first-child {
            font-weight: bold;
            color: @gray-1;
          }
        }
      }

      >p {
        margin: 0 0 0.5em 0 !important;
        font-weight: bold;
        color: @gray-1;
        font-size: 1.1em;
        line-height: 1.5;
      }
    }

    ._gk-nw-gio-list {
      @grid();
      @h-full();
      @grid-cols-8();
      gap: 1em;

      ._gk-nw-gio-overview {
        @overflow-auto();
        @h-full();
        grid-column: span 3 / span 1;
        padding-top: 1px;

        ._gk-nw-gio-item {
          padding: 0.6em 1em;
          @border();
          @mb-1();

          div,
          p {
            @flex();
            @justify-between();
          }

          ._gk-nw-gio-item-type {
            @truncate();
            @flex-1();
          }

          p {
            margin: 0.3em 0 0 0;
            color: @gray-3;

            span {
              font-size: 0.9em;
              color: @gray-4;
            }
          }

          &:hover {
            @cursor-pointer();
            box-shadow: 0px 3px 8px rgba(36, 46, 89, 0.1);
          }
        }

        ._gk-nw-gio-item-active {
          border-left: 4px solid @blue-1;
          background-color: @gray-5;
          box-shadow: 0px 3px 8px rgba(36, 46, 89, 0.1);
        }
      }

      ._gk-nw-gio-content {
        @overflow-auto();
        grid-column: span 5 / span 1;
        @border();
        margin-top: 1px;

        ._gk-nw-gio-content-wrapper {
          @p-1();

          ._gk-nw-gio-content-title {
            @break-all();
            @p-1();
          }
        }
      }

      ._gk-nw-gio-content-active {
        transform: translateX(120%);
      }
    }
  }
}