._gk-network {
  height: 100%;
  display: flex;
  flex-direction: column;

  ._gk-network-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ._gk-network-header-title {
      font-size: 1.1em;
      font-weight: 400;
    }
  }

  ._gk-network-list {
    height: 100%;
    overflow: auto;
    padding: 0.1em 0;

    ._gk-network-gio-empty {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      grid-column: span 12 / span 1;
    }

    ._gk-collapse {
      border: 1px solid #dfe4ee;
      box-sizing: border-box;

      ._gk-collapse-item-head-extra {
        flex: none;
        display: flex;
        justify-content: space-around;

        span {
          margin: 0 0.5em;
          text-align: center;

          &:first-child {
            width: 3.5em;
          }

          &:nth-child(2) {
            width: 3em;
          }

          &:last-child {
            width: 3.5em;
            text-align: right;
          }
        }

        ._gk-network-item-green {
          color: #16cb79;
        }

        ._gk-network-item-yellow {
          color: #faa937;
        }

        ._gk-network-item-red {
          color: #ec134b;
        }
      }

      &:not(:last-child) {
        margin-bottom: -1px;
      }
    }

    ._gk-network-list-item-content {
      padding: 0.5em 0 1em 0;
      overflow: hidden;
      word-break: break-all;

      ._gk-network-content-values-wrapper {
        padding-left: 1em;
      }

      ._gk-network-content-values-payload {
        padding-left: 1em;
        word-break: break-word;
        white-space: pre;
      }

      ._gk-network-content-values {
        line-height: 1.5em;
        margin-bottom: 0.5em;
        padding-right: 0;

        span {
          word-break: break-all;

          &:first-child {
            font-weight: bold;
            color: #242e59;
          }
        }
      }

      > p {
        margin: 0 0 0.5em 0 !important;
        font-weight: bold;
        color: #242e59;
        font-size: 1.1em;
        line-height: 1.5;
      }
    }

    ._gk-network-gio-list {
      display: grid;
      height: 100%;
      grid-template-columns: repeat(8, minmax(0, 1fr));
      gap: 1em;

      ._gk-network-gio-overview {
        overflow: auto;
        height: 100%;
        grid-column: span 3 / span 1;

        ._gk-network-gio-item {
          padding: 0.6em 1em;
          border: 1px solid #dfe4ee;
          margin-bottom: 0.5em;

          p {
            margin: 0;
            word-break: break-all;

            &:last-child {
              margin-top: 0.3em;
              color: #adb2c2;
            }
          }

          &:hover {
            cursor: pointer;
            box-shadow: 0px 3px 8px rgba(36, 46, 89, 0.1);
          }
        }

        ._gk-network-gio-item-active {
          border-left: 4px solid #1248e9;
          background-color: #f7f8fc;
          box-shadow: 0px 3px 8px rgba(36, 46, 89, 0.1);
        }
      }

      ._gk-network-gio-content {
        overflow: auto;
        grid-column: span 5 / span 1;
        border: 1px solid #dfe4ee;

        ._gk-network-gio-content-wrapper {
          padding: 0.5em;

          ._gk-network-gio-content-title {
            word-break: break-all;
            padding: 0.5em;
          }
        }
      }

      ._gk-network-gio-content-active {
        transform: translateX(120%);
      }
    }
  }
}
