@import '@/styles/index.less';

._gk-jsonview {
  padding: 0.5em 0.5em 0.5em 1.5em;
}

._gk-jsonview ._gk-jsonview-item {
  margin-left: 1.25em;
}

._gk-jsonview ._gk-jsonview-item-head {
  @flex();
  @items-center();
  margin: 0.25em 0 0 -1.25em;
}

._gk-jsonview ._gk-jsonview-item-head ._gk-triangular-arrow {
  margin-left: -1.375em;
}

._gk-jsonview-item div[id^="__gkjson-"] {
  margin: 0.25em 0;
}

._gk-jsonview ._gk-jsonview-item-foot {
  margin-left: -1em;
}

._gk-jsonview ._gk-jsonview-item em {
  @ml-2();
  color: #d1d5db;
}

._gk-jsonview ._gk-jsonview-item ._gk-value-string {
  color: #2f9c0a;
}

._gk-jsonview ._gk-jsonview-item ._gk-value-number {
  color: #c92c2c;
}

._gk-jsonview ._gk-jsonview-item ._gk-value-boolean {
  color: #ae81ff;
}

._gk-jsonview ._gk-jsonview-item ._gk-value-other {
  color: #1990b8;
}