#__giokit {
  .tippy-box {
    border-radius: 0.4em;
    background: #242E59;
    max-width: 20em !important;

    .tippy-content {
      padding: 0.5em 1em;
      color: #fff;
      line-height: 1.5;
    }

    .tippy-svg-arrow {
      svg {
        fill: #242E59;
      }
    }


  }

  .tippy-box[data-placement^=top]>.tippy-svg-arrow {
    bottom: 1px;
  }
}