@import '@/styles/index.less';

._gk-nw-tool-monitor-content {
  p {
    margin: 0.5em 0 0 0;
    font-size: 0.9em;
    color: @gray-2;

    span {
      color: @blue-2;
    }
  }

  ._gk-nw-tool-minitor-tippy-btns {
    @text-right();

    ._gk-btn {
      @ml-1();
    }
  }
}