@import '@/styles/index.less';

// 面板关闭时
#__giokit {
  font-family: 'PingFangSC-Regular', 'sans-serif', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial;

  *:focus-visible {
    outline: none;
  }

  ._gk-mask {
    @inset-0();
    background: rgba(0, 0, 0, 0);
    display: none;
    position: fixed;
    transition: background 0.3s;
    z-index: 10001;
  }

  ._gk-panel {
    @flex-col();
    @flex();
    @inset-x-0();
    background-color: @gray-5;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    bottom: -100%;
    display: none;
    min-height: 85%;
    position: fixed;
    transition: bottom 0.3s;
    z-index: 10002;
  }

  ._gk-p-head {
    @border-b();
    font-weight: 400;
    @relative();
    @text-center();

    ._gk-p-title {
      line-height: 2.5em;
      font-size: 1.5em;

      span {
        color: @orange;
      }
    }

    ._gk-p-back {
      @absolute();
      @flex();
      @items-center();
      @cursor-pointer();
      left: 0.6em;
      top: calc(50% - 0.75em);

      svg {
        width: 1.5em;
        height: 1.5em;
      }

      &:hover {
        color: @blue-1;
      }
    }
  }

  ._gk-header {
    @border-b();
  }

  ._gk-p-content {
    @flex-1();
    @p-2();
    @relative();
  }
}

// 打开面板时
#__giokit.gk-open {
  ._gk-mask {
    @block();
    background: rgba(0, 0, 0, 0.6);
  }

  ._gk-panel {
    bottom: 0;
  }
}